<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">	
	{% assets filters="cssmin", output="css/style.min.css", "css/bootstrap.min.css",  "css/magnific-popup.css", "css/font-awesome.min.css", "css/style.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
{% block header %}
{% endblock header %}

{% block content %}
{% endblock content %}

<footer id="footer" class="st-padding bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-logo">
                    <a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/img/logo_transparent.png" alt="logo"></a>
                </div>
            </div>
        </div> 
    </div>
</footer>

{% assets filters="jsmin" , output="js/packed.js", "js/jquery.min.js", "js/bootstrap.min.js", "js/jquery.magnific-popup.js" %}
<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
(function($) {
	$('body').scrollspy({
		target: '#nav',
		offset: $(window).height() / 2
	});

	$("#nav .main-nav a[href^='#']").on('click', function(e) {
		e.preventDefault();
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 600);
	});

	$('#nav .nav-collapse').on('click', function() {
		$('#nav').toggleClass('open');
	});

	$(window).on('scroll', function() {
		var wScroll = $(this).scrollTop();

		// Fixed nav
		wScroll > 1 ? $('#nav').addClass('fixed-nav') : $('#nav').removeClass('fixed-nav');

		// Back To Top Appear
		wScroll > 700 ? $('#back-to-top').fadeIn() : $('#back-to-top').fadeOut();
	});

	$('.image-container').magnificPopup({
		delegate: '.lightbox',
		type: 'image'
	});
})(jQuery);
</script>
</body>
</html>