{% extends "base.html" %}
{% block header %}
<header>

	<!-- Nav -->
	<nav id="nav" class="navbar">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a href="../index.html">
						<img class="logo" src="../theme/img/logo.png" alt="logo">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Collapse nav button -->
				<div class="nav-collapse">
					<span></span>
				</div>
				<!-- /Collapse nav button -->
			</div>

			<!--  Main navigation  -->
			<ul class="main-nav nav navbar-nav navbar-right">
				<li><a href="../index.html#home">Start</a></li>
				<li><a href="../index.html#about">Über Uns</a></li>
				<li><a href="../index.html#training">Training</a></li>
				<li><a href="../index.html#impressions">Impressionen</a></li>
				<li><a href="./index.html">Blog</a></li>
				<li><a href="../index.html#contact">Kontakt & Impressum</a></li>
			</ul>
			<!-- /Main navigation -->

		</div>
	</nav>
	<!-- /Nav -->

	<!-- header wrapper -->
	<div class="header-wrapper sm-padding bg-grey">
		<div class="container">
			<h2>Blog Page</h2>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="../index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="../index.html#blog">Blog</a></li>
				<li class="breadcrumb-item active">Single Post</li>
			</ul>
		</div>
	</div>
	<!-- /header wrapper -->

</header>
{% endblock header %}

{% block content %}
<!-- Blog -->
<div id="blog" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Main -->
			<main id="main" class="col-md-9">
				<div class="blog">
					<div class="blog-img">
						<img class="img-responsive" src="./../theme/img/blog-post.jpg" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fa fa-user"></i>John doe</li>
							<li><i class="fa fa-clock-o"></i>18 Oct</li>
							<li><i class="fa fa-comments"></i>57</li>
						</ul>
						<h3>Morbi mattis felis at nunc. Duis viverra</h3>
						<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
					</div>

					<!-- blog tags -->
					<div class="blog-tags">
						<h5>Tags :</h5>
						<a href="#"><i class="fa fa-tag"></i>Web</a>
						<a href="#"><i class="fa fa-tag"></i>Design</a>
						<a href="#"><i class="fa fa-tag"></i>Marketing</a>
						<a href="#"><i class="fa fa-tag"></i>Development</a>
						<a href="#"><i class="fa fa-tag"></i>Branding</a>
						<a href="#"><i class="fa fa-tag"></i>Photography</a>
					</div>
					<!-- blog tags -->
				</div>
			</main>
			<!-- /Main -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>

{% endblock content %}
