{% extends "base.html" %}
{% block header %}
<header>
	<nav id="nav" class="navbar grey">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">
					<a href="{{ SITEURL }}/index.html">
						<img class="logo" src="{{ SITEURL }}/theme/img/logo.png" alt="logo">
					</a>
				</div>
			</div>

			<!-- responsive navigation for small devies-->
			<div class="navbar-header">
					<div class="nav-collapse">
						<span></span>
					</div>
				</div>	
			<!-- normal navigation -->
			<ul class="main-nav nav navbar-nav navbar-right">
				<li><a href="{{ SITEURL }}/index.html#home">Start</a></li>
				<li><a href="{{ SITEURL }}/index.html#about">Über Uns</a></li>
				<li><a href="{{ SITEURL }}/index.html#training">Training</a></li>
				<li><a href="{{ SITEURL }}/index.html#impressions">Impressionen</a></li>
				<li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
				<li><a href="{{ SITEURL }}/index.html#contact">Kontakt & Impressum</a></li>
			</ul>
		</div>
	</nav>
</header>
{% endblock header %}

{% block content %}
<div id="blog" class="section" style="padding-top:40px;">
	<div class="container">
		{% for article in dates %}
		<div class="row s-padding">
			<main id="main" class="col-md-8 col-md-offset-2 blog-box">
				<div class="blog">
					<div class="blog-img">
						{% if article.headerpicture %}
						<img class="img-responsive" src="{{ SITEURL }}/images/{{ article.headerpicture }}" alt="">
						{% else %}
						<img class="img-responsive" src="{{ SITEURL }}/theme/img/{{ DEFAULT_HEADER_IMAGE }}" alt="">
						{% endif %}
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fa fa-user"></i>{{ article.author }}</li>
							<li><i class="fa fa-clock"></i>{{ article.locale_date }}</li>
							{% if article.shortpost != "true" %}
							<li style="float:right"><a href="{{ SITEURL }}/blog/{{article.slug}}/"><button class="main-btn"><i class="fas fa-external-link-alt" style="color:white;"></i> Weiterlesen</button></a></li>
							{% endif %}
						</ul>
						<h3>{{ article.title }}</h3>
						{{ article.summary }}
					</div>
		
					<div class="blog-tags">
						<h5>Tags :</h5>
						{% for tag in article.tags if tag %}
						<a href="{{ SITEURL }}/tag/{{tag}}.html"><i class="fa fa-tag"></i>{{ tag }}</a>
						{% endfor %}
					</div>

				</div>
			</main>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
