{% extends "base.html" %}
{% block header %}
<header>
	<nav id="nav" class="navbar grey">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">
					<a href="{{ SITEURL }}/index.html">
						{{ ICONS['logo-gaishofen'] }}
					</a>
				</div>
			</div>

			<!-- responsive navigation for small devies-->
			<div class="navbar-header">
					<div class="nav-collapse">
						<span></span>
					</div>
				</div>	
			<!-- normal navigation -->
			<ul class="main-nav nav navbar-nav navbar-right">
				<li><a href="{{ SITEURL }}/index.html#home">Start</a></li>
				<li><a href="{{ SITEURL }}/index.html#about">Über Uns</a></li>
				<li><a href="{{ SITEURL }}/index.html#training">Training</a></li>
				<li><a href="{{ SITEURL }}/index.html#impressions">Impressionen</a></li>
				<li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
				<li><a href="{{ SITEURL }}/termine.html">Termine</a></li>
				<li><a href="{{ SITEURL }}/index.html#contact">Kontakt & Impressum</a></li>
			</ul>
		</div>
	</nav>
</header>
{% endblock header %}

{% block content %}
<div id="termine" class="section" style="padding-top:40px;">
	<div class="container">
	    <div class="row row-striped s-padding">
			<div class="col-md-2 col-sm-2 col-xs-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary display-4">25</span></h1>
				<h2 class="display-4">Aug</h2>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 termin">
				<h3 class="text-uppercase"><strong>Vilshofener Volksfest - Festzug</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item">{{ ICONS['calendar'] }} Sonntag</li>
					<li class="list-inline-item">{{ ICONS['clock'] }} ab 09:15</li>
					<li class="list-inline-item">{{ ICONS['direction'] }} FFW Gaishofen</li>
				</ul>
				<p> Es gibt zwei mögliche Treffpunkte. Zum einen um 9:15 Uhr am FFW Haus in Gaishofen oder um 9:45 Uhr in Vilshofen am Cappuccini.
					Geplanter Abmarsch ist um 10:30 Uhr. Natürlich wollen wir unsere Tracht ausführen,
					optional kann mit dem Vereins T-Shirt mitgegangen werden. Wir freuen uns auf euch!</p>
			</div>
	    </div>
	    <div class="row row-striped s-padding">
			<div class="col-md-2 col-sm-2 col-xs-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary display-4">13</span></h1>
				<h2 class="display-4">Sep</h2>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 termin">
				<h3 class="text-uppercase"><strong>Gaukönigsschießen</strong></h3>
				<ul class="list-inline">
					<li class="list-inline-item">{{ ICONS['clock'] }} 13. bis 22. September</li>
					<li class="list-inline-item">{{ ICONS['direction'] }} Feuerschützen Aldersbach</li>
				</ul>
				<p>Genaue Uhrzeiten der einzelnen Schießtage findet man <a href="http://www.fsg-aldersbach.de/index_d.php?page=d&application=pdf&dateiname=Einladung_Gaukoenig_2019.pdf">hier</a>
				</p>
			</div>
	    </div>
	    <div class="row row-striped s-padding">
			<div class="col-md-2 col-sm-2 col-xs-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary display-4">23</span></h1>
				<h2 class="display-4">Sep</h2>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 termin">
				<h3 class="text-uppercase"><strong>100-Schuss-Marathon der FSG Osterhofen</strong></h3>
				<ul class="list-inline">
					<li class="list-inline-item">{{ ICONS['clock'] }} 23. bis 28. September</li>
					<li class="list-inline-item">{{ ICONS['direction'] }} FSG Osterhofen</li>
				</ul>
				<p>Genaue Uhrzeiten der einzelnen Schießtage findet man <a href="http://fsg-osterhofen.de/wp-content/uploads/2019/08/Marathon-Programm-2019.pdf">hier</a>
				</p>
			</div>
		</div>
		<div class="row row-striped s-padding">
			<div class="col-md-2 col-sm-2 col-xs-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary display-4">2</span></h1>
				<h2 class="display-4">Okt</h2>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 termin">
				<h3 class="text-uppercase"><strong>Generalversammlung</strong></h3>
				<ul class="list-inline">
					<li class="list-inline-item">{{ ICONS['calendar'] }} Mittwoch</li>
					<li class="list-inline-item">{{ ICONS['clock'] }} 19:00 </li>
					<li class="list-inline-item">{{ ICONS['direction'] }} Feuerwehrhaus Gaishofen</li>
				</ul>
				<p>Um zahlreiche Teilnahme wird gebeten.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
